# systemd service config

[Unit]
Description=uWSGI instance to serve api-listener
After=network.target

[Service]
User=<--USER-OF-THE-SYSTEM-->
Group=www-data
#Environment="HTTP_PROXY=proxy.iiit.ac.in:8080"
#Environment="http_proxy=proxy.iiit.ac.in:8080"
Environment="PYTHONDONTWRITEBYTECODE=1"
WorkingDirectory=<--APP_DIR--->
ExecStart=/usr/bin/uwsgi --ini api-listener.ini


[Install]
WantedBy=multi-user.target
