#####################################################################
#
# We will place this in the /etc/init directory that Upstart checks.
#
# 1. Create a soft link using
#	sudo ln -s ~/public_html/api.armalcolite.ml/configurations/api-listener.conf
#
# 2. Upstart does not reload configurations automatically for soft-links, so do it manually
#	sudo initctl reload-configuration
#
# 3. Start the app using
#	sudo start api-listener
#

description "uWSGI instance to serve api-listener"

start on runlevel [2345]
stop on runlevel [!2345]

setuid ubuntu
setgid www-data

script
    cd <--APP_DIR--->
    export PYTHONDONTWRITEBYTECODE=1
    #To allow display of logs from the /log request, use the bash script in the main project
    #directory to change the file ownership :D
    uwsgi --ini api-listener.ini
end script
