{
    "youtube": {
            "api": {
                    "client_secret_location": "./configs",
                    "client_secrets_file": "client_secret_api-listener.json",
                    "credentials_storage": "googlecredentials-oauth2.json"
            },
            "playlist": {
                    "name": "LastRedemption",
                    "id": "PLY9u75QG8XbV8pZLq9WMBAgimogrmYiS_"
            }
    }
}
