; NOTE:
; 1. Do not quote strings
; 2. true & false are treated as the True and False of python, use this only.
; 3. All variables will be transformed to uppercase
; 4. The directory name should NOT contain "/" in the end

[FLASK]
USER_FILE = ./configs/users.txt
APP_SECRET_KEY = asjdhkyaehjkcahyk
DATA_DIRECTORY = ./data

[YOUTUBE_API]
; Details for initializing the Youtube API
CLIENT_SECRET_LOCATION = ./configs
CLIENT_SECRETS_FILE = client_secret_api-listener.json
CREDENTIALS_STORAGE = googlecredentials-oauth2.json

[SPOTIFY_API]
USERNAME = pinkeshbadjatiya
CLIENT_ID = f6f53ad....b17d14d6
CLIENT_SECRET = 39fd4df....8096ad09

[YOUTUBE_PLAYLIST]
NAME = LastRedemption
ID = PLY9u75Q....imogrmYiS_

[SPOTIFY_PLAYLIST]
NAME = LastRedemption
ID = spotify:user:pinkeshbad....nDqV8KMZIHPo4LjD
