# Config file for nginx to proxy request to the uwsgi server
# api.armalcolite.ml
server {
        listen 80;
        # root <--APP_DIR--->;     # No need for root directory if you have proxy_pass directive
        server_name localhost api.<--DOMAIN-->  www.api.<--DOMAIN-->;
        location / {
                include         uwsgi_params;
                uwsgi_pass      unix: <--APP_DIR--->/api-listener.sock;
        }
}
